

/* -------------------------------html--------------------------------- */
.input-body{
    background-color: rgb(173, 171, 171);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mult-value{
    height: 40vh;
    min-width: 40vw;
    max-width: 60vw;
    /* border: 1px solid rgb(92, 88, 88); */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
}
.input-nbr{
    margin: 20px;
}
input{
    height: 20px;
    border-radius: 5px;
}
.align-row{
    display: flex;
    flex-direction: row;
}
.mult-button{
    height: 35px;
    min-width: 60px;
    /* margin: 5px -100px -30px 0; */
}
/* -------------------------------php-------------------------------------------------- */
body{
    background-color: rgb(173, 171, 171);
}
h1{
    text-align: center;
}
.mod-button,a{
    text-decoration: none;
    height: 100px;
    width: 200px;
    background-color: rgb(145, 145, 204);
    color: black;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    margin: 5px; 
    padding: 2px 5px;
}

.table-mult{
    height: 50vh;
    min-width: 45vw;
    max-width: 90vw;
    margin: 40px 50px;
    display: flex;
}
table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}  
td{
    height: 7vh;
    min-width: 16vw;
    max-width: 30vw;
    border: 2px solid rgb(81, 79, 79);
    text-align: center;
} 
.champ-modify{
    min-width: 27vw;
}